<div class="container">
    <div class="col-12 mt-5 property-tab">
      <ngb-tabset>
        <ngb-tab title="OVERVIEW">
          <ng-template ngbTabContent>
              <div class="row d-flex mt-3">
                  <div class="col-sm-3 d-flex align-items-center  border pl-0 text-center ">
                    <div class="m-auto">
                      <img src="../../../assets/images/profile/Group%20611.png">
                      <h4>Mr.Pandiyarajan</h4>
                      <p class="mt-2"><i class="fa fa-map-marker mr-2"></i> Dubai</p>
                      <div class="mt-2 mb-2"><a class="common_btn">Update Your profile</a> </div>
                    </div>
                  </div>
                  <div class="col-sm-9 pr-0 ">
                    <div class="border">
                      <h5 class="p-2 mb-0">Notifications</h5>
                      <ul class="notifications p-2">
                        <li class="p-2 mb-1"><a>You have received a new message from John Doe for Property ID AQ123 <span class="pull-right">12/1/2019</span> </a></li>
                        <li class="p-2 mb-1"><a>You have received a new message from John Doe for Property ID AQ123</a></li>
                        <li class="p-2 mb-1"><a>You have received a new message from John Doe for Property ID AQ123</a></li>
                        <li class="p-2 mb-1 bg-info"><a>You have received a new message from John Doe for Property ID AQ123</a></li>
                        <li class="p-2 mb-1"><a>You have received a new message from John Doe for Property ID AQ123</a></li>
                        <li class="p-2 mb-1"><a>You have received a new message from John Doe for Property ID AQ123</a></li>
                        <li class="p-2 mb-1"><a>You have received a new message from John Doe for Property ID AQ123</a></li>
                      </ul>
                    </div>
                    </div>
                  </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="PROFILE">
          <ng-template ngbTabContent>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="LISTINGS">
          <ng-template ngbTabContent>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="MESSAGES">
          <ng-template ngbTabContent>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="FAVORITES">
          <ng-template ngbTabContent>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="INTEREST">
          <ng-template ngbTabContent>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
