<app-header></app-header>
<section class="container-fluid main-sec d-flex align-items-center">
  <div class="col-12 text-center inner-main">
    <div class="search-sec mt-5">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search for Properties, Location, Project or Keyword">
        <div class="input-group-append">
          <button class="btn btn-dlf" type="submit">FIND PROPERTIES</button>
        </div>
      </div>
    </div>
  </div>
  <app-filter></app-filter>


</section>
<div class="container">
    <app-property-details> </app-property-details>
</div>

<app-footer></app-footer>
