<app-header></app-header>
<section class="container-fluid main-sec d-flex align-items-center">
  <div class="col-12 text-center inner-main">
    <h1>Find it, Love it, Live there.</h1>
    <p>Find the apartment of your dreams</p>
    <div class="search-sec mt-5">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search for Properties, Location, Project or Keyword">
        <div class="input-group-append">
          <button class="btn btn-dlf" type="submit">FIND PROPERTIES</button>
        </div>
      </div>
      <ul>
        <li><a href="">BUY A PROPERTY</a></li>
        <li><a href="">SELL MY PROPERTY</a></li>
      </ul>
    </div>
    <div class="soroll">
      <div class="pulsating-circle">
        <img src="assets/images/landing/scroll.svg" />
      </div>
    </div>
  </div>
</section>
<section class="container">
  <h4 class="title mt-5 text-center">Featured Properties</h4>
  <div class="filter mt-5 mb-4">
    <ul class="nav">
      <li class="nav-item mr-2 border">
        <a class="btn btn-default-outline active">Most Viewed</a>
      </li>
      <li class="nav-item border">
        <a class="btn btn-default-outline">Most Recent</a>
      </li>
      <li class="nav-item ml-auto">
        <select class="form-control">
          <option value="">Type</option>
        </select>
      </li>
      <li class="nav-item ml-2 border">
          <a class="btn btn-default-outline" (click)="listViewType=true"><i class="fa fa-th-list"></i></a>
      </li>
      <li class="nav-item ml-2 border">
          <a class="btn btn-default-outline"  (click)="listViewType=false" ><i class="fa fa-th"></i></a>
      </li>
    </ul>
  </div>
  <app-property-list [propertiesList]=propertiesList [listView]=listViewType></app-property-list>

  <div class="mt-5 text-center">
    <div class="spinner-grow text-info"></div>
  </div>
</section>
<app-footer></app-footer>
