<footer class="container-fluid  footer_container">
  <div class="row">
    <div class="container pt-5 pb-5">
      <div class="row">
        <div class="col-sm-12 footer_popular_search">
          <div class="row">
            <div class="col-sm-6">
              <h3>Popular Searches</h3>
              <ul>
                <li><a href="">Studios for rent in Dubai</a></li>
                <li><a href="">Apartments for rent in Dubai</a></li>
                <li><a href="">Villas for rent in Dubai</a></li>
                <li><a href="">Apartments for sale in Dubai</a></li>
                <li><a href="">Villas for sale in Dubai</a></li>
                <li><a href="">Land for sale in Dubai</a></li>
                <li><a href="">Dubai Real Estate</a></li>
              </ul>
            </div>
            <div class="col-sm-6">
              <h3>Trending Searches</h3>
              <ul>
                <li><a href="">Apartments for rent in Dubai Marina</a></li>
                <li><a href="">Apartments for sale in Dubai Marina</a></li>
                <li><a href="">Villa for rent in Dubai</a></li>
                <li><a href="">Villa for sale in Dubai</a></li>
                <li>
                    <a href="">Flat for rent in Dubai</a>
                  </li>
                  <li>
                    <a href="">Studio for rent in Abu Dhabi</a>
                  </li>
                  <li>
                    <a href="">Villa for rent in Dubai</a>
                  </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12 footer_menu pt-5 pb-4">
          <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-2 footer-logo">
                <img  src="assets/images/footer-logo.svg" alt="Propertyze" title="Propertyze" />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2">
                <h3>Links</h3>
                <ul>
                  <li><a href="">About Us</a></li>
                  <li><a href="">Blog</a></li>
                  <li><a href="">Contact</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2">
                <h3>Social</h3>
                <ul>
                  <li><a href="">Facebook</a></li>
                  <li><a href="">Twitter</a></li>
                  <li><a href="">Instagram</a></li>
                  <li><a href="">YouTube</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2">
                <h3>Knowledge Hub</h3>
                <ul>
                  <li><a href="">How it works</a></li>
                  <li><a href="">FAQs</a></li>
                  <li><a href="">Key risks</a></li>
                  <li><a href="">Screening criteria</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2">
                <h3>Legal</h3>
                <ul>
                  <li><a href="">Privacy Policy</a></li>
                  <li><a href="">Cookie Policy</a></li>
                  <li><a href="">Website Policy</a></li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-2 app_stor">
                <img src="assets/images/appstore.png" alt="Propertyze" title="Propertyze" />
                <img src="assets/images/googleplay.png" alt="Propertyze" title="Propertyze" />
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</footer>
