$font-semibold:  'Raleway-SemiBold';
$font-medium: 'Raleway-Medium';
$font-regular: 'Raleway-Regular';

$font1-medium:  'Baskerville';
$font1-italic: 'Baskerville-italic';

$font2-bold:  'Roboto-Bold';
$font2-medium: 'Roboto-Medium';
$font2-light: 'Roboto-Light';


$f-10: 10px;
$f-12: 12px;
$f-13: 13px;
$f-14: 14px;
$f-15: 15px;
$f-16: 16px;
$f-18: 18px;
$f-20: 20px;
$f-22: 22px;
$f-30: 30px;
$f-42: 42px;

// / text

$primary-color: #3aaab6 !global;
$theme-color: #35373f !global;
$heading-color: #35373f !global;
$pargraph: #a1a6bd !global;
$white: #ffffff;
$perp: #999999;
$bg-grey: #ededed;
$light-blue-bg: #ebf6f7;
